@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

html,
body {
  overscroll-behavior: none;
  height: 100%;
  font-size: 1.125rem !important;
  line-height: 1.65 !important;
}

header {
  transition: transform 0.35s ease;
}

footer {
  margin-top: auto;
}

.navbar {
  transition: height 0.3s ease;
}

section {
  scroll-snap-align: start;
  min-height: 100dvh;
  scroll-margin-top: 64px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow: hidden;
}

[class*="svg"] svg,
.item svg {
  width: 100%;
  height: auto;
  display: block;
}

a,
a:hover {
  text-decoration: none !important;
}

h1 {
  margin: 1rem 0 !important;
  font-size: 2rem !important;
  line-height: 1.65 !important;
}

h2 {
  margin: 1rem 0 !important;
  padding: 0 !important;
  font-size: 1.75rem !important;
  font-weight: 500 !important;
  line-height: 1;
}

h3 {
  font-weight: 500 !important;
}


p {
  line-height: 1.5 !important;
}



.contact {
  --ac-modal-backdrop-filter: #193311(50%);
}