---
export const prerender = false;
import Hero from "../components/Hero.astro";
import Sections from "@/components/Sections.astro";
import Layout from "../layouts/Layout.astro";

const meta = {
  description: "IMWD sustainable low carbon web development",
  title: "IMWD",
};
---

<Layout meta={meta}>
<div class="relative w-full">
<Hero />
<Sections/>
</div>
</Layout>
