---
import Logo from '../svg/footer-logo.svg';
import Arrow from '../svg/arrow.svg';
---


<footer class="relative  bg-[#C6D4A3] w-full py-4 z-40">
<div class="footer relative bg-transparent footer-center items-center mx-auto px-4 sm:px-6 lg:px-12 w-full">
<aside class=" grid grid-flow-col items-center">
<Logo  height={20} />
<p class=" prose text-sm text-black lg:block hidden">Copyright © {new Date().getFullYear()} - All right reserved</p>
</aside>
<a class=" absolute -top-2  right-8 " href='#top'> 
<Arrow width={32} height={32}/>
</a>
</div>
</footer>
