---
import Logo from '../svg/footer-logo.svg';
import Arrow from '../svg/arrow.svg';
---


<footer class="relative  bg-[#C6D4A3] w-full  lg:px-0 p-4 z-40">
<div class="footer bg-transparent footer-center items-center mx-auto lg:max-w-5xl w-full">
<aside class=" grid grid-flow-col items-center">
<Logo  height={20} />
<p class=" prose lg:text-sm text-xs text-black">Copyright © {new Date().getFullYear()} - All right reserved</p>
</aside>
<a class=" absolute top-3 right-8 " href='#top'> 
<Arrow width={32} height={32}/>
</a>
</div>
</footer>
