---

import Contact from "./Contact.astro";
import Logo from '../svg/logo.svg';
---

<header class=" bg-[#193311] w-full fixed top-0 lg:px-0 px-4 z-50">
<div class="navbar bg-transparent mx-auto lg:max-w-5xl w-full">
<div class="flex-1"><Logo width={160} height={40} /></div>
<div class="flex-none">
<button class="btn btn-neutral btn-outline text-white text-lg font-light" data-modal-trigger="contact-modal">Contact</button>
</div>
</div>
<Contact/>
</header>

<script src="@/utils/head.js"></script>
